.sidebar {
  border: 5px solid #05aa8e;
  border-right-width: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background-color: #fff;
}

.sidebar__toggler {
  --width: 100px;
  position: absolute;
  top: min(20% ,400px);
  left: calc(var(--width) * -1);
  width: var(--width);
  padding: 0.1em 0.2em;
  border-radius: 10px 0 0 10px;
  background-color: #04d074;
  border: 5px solid #05aa8e;
  border-right-width: 0;
  color: #fff;
  cursor: pointer;
}

.sidebar__content {
  height: 100%;
  /* border: 3px solid #00f; */
  overflow: auto;
}